<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
	
	function loaded(){
		$.ajax({
				type:'get',
				url:'http://localhost:8080/catemgr/list',
				contentType:'text/html;charset=utf-8',
				success:function(data){
					alert(data);
				}
			});
	
	}

</script>
<body onload="loaded()">

<h3>上传图片</h3>
<form action="/picmgr/upload" method="post" enctype="multipart/form-data">
<input type="file" name="img">
<input type="submit" value="提交">
</form>

</body>
</html>