<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="database.properties">
	</properties>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="defaultStatementTimeout" value="3000" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="useGeneratedKeys" value="true" />
	</settings>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property value="${jdbc.driver}" name="driver" />
				<property value="${jdbc.url}" name="url" />
				<property value="${jdbc.username}" name="username" />
				<property value="${jdbc.password}" name="password" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="edu.scau.mapper" />
	</mappers>
</configuration>