<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书本详情</title>
</head>
<style>
    .main{
        width:80%;
        margin:0px 100px;
    }
    .main .left{
        width:40%;
        margin:40px 0px;
        float:left;
    }
    .main .right{
        width:60%;
        float:left;
        margin:0px 30px;
    }
    .right_center .price{
        height:80px;
        background-color:#E7E7E4;
        line-height:80px;
    }
</style>
<script>
    function slip_to_shopping() {
        window.location.href='shopping.html';
    }
</script>
<body>
<div class="main">
    <div class="left">
        <img alt="商品详情" src="images/dd_focus_3.jpg">
    </div>
    <div class="right">
        <div class="right_top">
            <h1>追风筝的人</h1>
            </br>
            <p>中文版，快乐大本营高圆圆感动推荐，奥巴马送给女儿的新年礼物。为你，千千万万遍！</p >
            </br>
            <p>作者:[美]卡勒德·胡赛尼（Khaled Hosseini） 著，李继宏 译出版社:上海人民出版社</p >
            <p>出版时间:2006年05月 </p >
        </div>
        <div class="right_center">
            <div class="price">当当价 ¥113.60(7.19折)定价¥158.00</div>
        </div>
        <div class="right_bottom">
            <p>配送至****，<strong>有货</strong>满39元免运费</p >
            </br>
            <p>由“当当”发货，并提供售后服务。11:46前完成下单，预计明天(7月4日)可送达   </p >
            <button onclick="slip_to_shopping()">加入购物车</button><button onclick="slip_to_shopping()">立即购买</button>
        </div>
    </div>
</div>
</body>
</html>