<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买失败</title>
    <link href="css/success.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="success_container">
    <div class="success_top">
        <div class="shopper">
            <p class="one">尊敬的：</p>
            <span class="shopper_name">$!{vo_user.user.name}</span>
        </div>
        <div class="success_right">
            <ul>
                <div>您已取消购买书籍：</div>
                <br>

            </ul>
        </div>
    </div>
    <div class="success_img">
        <img src="images/failure.jpg">
        <br>
        <span>购买<span class="state">失败</span>!</span>
        <a href="index.html">返回主页面</a>
    </div>
</div>

</body>
</html>