<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>bookstore导航部分</title>
    <link href="css/global.css" rel="stylesheet" type="text/css" />
    <link href="css/template.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
</head>
<body>

<!--顶部开始-->
<div class="header_top">
    <div class="header_top_left">您好！欢迎光临bookstore [
        <a href="login.html" target="_parent" style="display: inline-block" id="login_register">登录</a> | <a href="register.html" style="display: inline-block" target="_parent" id="login_register2">免费注册</a>
        <a href="user_detail.html" id="login_name" style="display: none"><span style="color: red">波风水门</span>&nbsp;|&nbsp;</a>]
    </div>
    <div class="header_top_right">
        <ul>
            <li id="menu"><a href="#" target="_self">我的bookstore</a> <img src="images/dd_arrow_down.gif" alt="arrow" />
                <div id="dd_menu_top_down">
                    <a href="/shopping" target="_parent">我的订单</a><br />
                    <a href="/UICchecked" target="_parent">用户详情</a><br />
                    <a href="#" onclick="exit_show()">退出登录</a>
                </div>
            </li>
            <li>|</li>
            <li><a href="shopping.html" target="_parent">购物车</a></li>
            <li><img src="images/dd_header_shop.gif" alt="shopping"/></li>
        </ul>
    </div>
</div>
<!--导航开始-->
<div class="header_middle">
    <div class="logo"><img src="images/dd_logo.gif" alt="logo"/></div>
    <div class="menu_left">
        <dl>
            <dd class="menu_left_first"></dd>
        </dl>
        <ul id="menu_left_bold">
            <li><a href="index.html" target="_parent" class="bold">首页</a></li>
        </ul>
        <dl>
            <dd class="menu_left_end"></dd>
        </dl>
    </div>
    <div class="menu_right" id="menu_dull_red">
    </div>
    <div class="menu">
        <div class="menu_first"></div>
        <div id="menu_white">
            <a href="#" target="_self" class="menu_mid_white"> </a>
        </div>
        <div class="menu_end"></div>
    </div>
</div>
<!--搜索开始-->
<div class="header_search">
    <div class="header_serach_left"></div>
    <div class="header_serach_mid">
        <ul id="header_serach_mid_menu">
            <li><input id="header_serach" type="text" class="header_input_search" /></li>
            <li><input type="image" class="header_secrch_btn" src="images/dd_header_search_btn.jpg" /></li>
        </ul>
    </div>
    <div class="header_serach_right"></div>
</div>
</body>
</html>
