<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mainView</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/mycss.css" rel="stylesheet" type="text/css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
 <div class="head">
    <div class="left_head">
        <label id="userID">游&nbsp;&nbsp;客！</label>
        <label>你&nbsp;&nbsp;好&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
     <!--left_head-->
     <div class="right_head">
        <ul>
            <li><a href="#">个人订单</a></li>
            <li><a href="#">注&nbsp;&nbsp;册</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</li>
            <li><a href="#">登&nbsp;&nbsp;陆</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</li>
        </ul>
     </div>
     <!--right_head-->

 </div>
<!--head结束-->


</body>
</html>