<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买成功</title>
    <link href="css/success.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="success_container">
    <div class="success_top">
        <div class="shopper">
            <p class="one">尊敬的：</p>
            <span class="shopper_name">波风水门</span>
            <br>
        </div>
        <div class="success_right">
            <ul>
                <div>您购买的以下书籍：</div>
                <br>
                <li>
                    <span class="book_title">私募（首部披露资本博弈秘密的金融...</span>&nbsp;&nbsp;&nbsp;数量<span class="book_count">1</span>件
                </li>
                <li>
                    <span class="book_title">私募（首部披露资本博弈秘密的金融...</span>&nbsp;&nbsp;&nbsp;数量<span class="book_count">2</span>件
                </li>
                <li>
                    <span class="book_title">私募（首部披露资本博弈秘密的金融...</span>&nbsp;&nbsp;&nbsp;数量<span class="book_count">3</span>件
                </li>
                <li>
                    <span class="book_title">私募（首部披露资本博弈秘密的金融...</span>&nbsp;&nbsp;&nbsp;数量<span class="book_count">4</span>件
                </li>
                <li>
                    <span class="book_title">私募（首部披露资本博弈秘密的金融...</span>&nbsp;&nbsp;&nbsp;数量<span class="book_count">5</span>件
                </li>
            </ul>
        </div>
    </div>
    <div class="success_img">
        <img src="images/success.jpg">
        <br>
        <span>购买<span class="state">成功</span>!</span>
        <a href="/order_detail?$!{vo_user.user.userid}">订单查询</a>
        <a href="index.html">返回主页面</a>
        <a href="/order_detail">返回主页面</a>
    </div>
</div>

</body>
</html>